:root {
--dimension-0: 6px;
--dimension-1: 8px;
--dimension-2: 10px;
--dimension-3: 12px;
--dimension-4: 16px;
--dimension-5: 18px;
--dimension-6: 20px;
--dimension-7: 24px;
--dimension-8: 28px;
--dimension-9: 30px;
--dimension-10: 32px;
--dimension-11: 36px;
--dimension-12: 40px;
--dimension-13: 48px;
--dimension-14: 50px;
--dimension-15: 60px;
--dimension-16: 200px;
--dimension-70: 840px;
--dimension-86: 1040px;
--spacing-mobile-sm: 8px;
--spacing-mobile-md: 12px;
--spacing-mobile-lg: 16px;
--spacing-mobile-xl: 20px;
--spacing-tablet-sm: 6px;
--spacing-tablet-md: 12px;
--spacing-tablet-lg: 18px;
--spacing-laptop-sm: 10px;
--spacing-tablet-xl: 24px;
--spacing-laptop-md: 20px;
--spacing-laptop-lg: 30px;
--spacing-laptop-xl: 40px;
--spacing-desktop-sm: 12px;
--spacing-desktop-md: 24px;
--spacing-desktop-lg: 36px;
--spacing-desktop-xl: 48px;
--dimension-app-columns-mobile: 4;
--dimension-app-columns-mobile-landscape: 8;
--dimension-app-columns-tablet: 12;
--dimension-app-columns-laptop: 8;
--dimension-app-columns-desktop: 12;
--dimension-app-gutter-mobile: 16px;
--dimension-app-gutter-mobile-landscape: 32px;
--dimension-app-gutter-tablet: 40px;
--dimension-app-gutter-laptop: auto;
--dimension-app-gutter-desktop: 60px;
--dimension-app-gap: 4px;
--dimension-app-margin-mobile: 16px;
--dimension-app-margin-mobile-landscape: 32px;
--dimension-app-margin-tablet: auto;
--dimension-app-margin-laptop: 200px;
--dimension-app-margin-desktop: auto;
--dimension-app-body-mobile: auto;
--dimension-app-body-mobile-landscape: auto;
--dimension-app-body-tablet: 840px;
--dimension-app-body-laptop: auto;
--dimension-app-body-desktop: 1240px;
}